
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<div class="row">
    <div class="col-md-12">
        <div class="yz-section">
            <h1 class="page-header">Scopes</h1>
            <div class="yz-callout yz-callout-info">
                <h4>Alternate elements</h4>
                <p>Feel free to use <code>&lt;b&gt;</code> and <code>&lt;i&gt;</code> in HTML5. <code>&lt;b&gt;</code> is meant to highlight words or phrases without conveying additional importance while <code>&lt;i&gt;</code> is mostly for voice, technical terms, etc.</p>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">New Scope</div>
                <div class="panel-body new-scope">

                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">Scope List</div>
                <div class="panel-body">
                    <p> List of Scopes. </p>
                </div>

                <!-- List group -->
                <ul class="list-group list-scope"></ul>
            </div>
        </div>
    </div>
</div>
